{% load static %}

<section id="bread" class=" description_content">
    <div  class="bread background_content">
        <h1>Події та <span>ЛОЯЛЬНОСТІ</span></h1>
    </div>
    <div class="text-content container">
        <div class="col-md-6">
            <h1>Лояльності та події</h1>
            <p class="desc-text"> Кожен наш гість - наш друг, і ми із щирим розумінням ставимося до кожного, і раді запропонувати індивідуальні пропозиції лояльності для кожної Вашої події</p>
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/bread1.jpg' %}" width="260" alt="Bread">
            <img src="{% static 'images/bread1.jpg' %}" width="260" alt="Bread">
        </div>
    </div>
</section>
