{% load static %}

<section id ="beer" class="description_content">
    <div  class="beer background_content">
        <h1>Чудове <span>місце</span> з будь-якого приводу</h1>
    </div>
    <div class="text-content container">
        <div class="col-md-5">
           <div class="img-section">
               <img src="{% static 'images/beer_spec.jpg' %}" width="100%">
           </div>
        </div>
        <br>
        <div class="col-md-6 col-md-offset-1">
            <h1>Наше пиво</h1>
            <div class="icon-beer fa-2x"></div>
            <p class="desc-text">Все пиво варимо на місці виключно з використанням українського солоду, хмілю, држіжджів. Вода проходить багато ступенів очистки, і після осмосу для кожного сорту пива доводиться індивідуально до підповідної формули харчовими мінералами</p>
        </div>
    </div>
</section>
