{% load static %}

<section class="social_connect">
            <div class="text-content container">
                <div class="col-md-6">
                    <span class="social_heading">Слідкуй за нами!</span>
                    <ul class="social_icons">
                        <li><a class="icon-twitter color_animation" href="https://www.facebook.com/cafeuk" target="_blank"></a></li>
                        <li><a class="icon-github color_animation" href="#" target="_blank"></a></li>
                        <li><a class="icon-linkedin color_animation" href="#" target="_blank"></a></li>
                        <li><a class="icon-mail color_animation" href="#"></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <span class="social_heading">АБО ТЕЛЕФОНУЙ!</span>
                    <span class="social_info"><a class="color_animation" href="tel:0683050019">(068) 305-00-19</a></span>
                </div>
            </div>
        </section>