{% load static %}

<footer class="sub_footer">
    <div class="container">
        <div class="col-md-4"><p class="sub-footer-text text-center">Розробка сайту силами команди &nbsp<a href="">UK-CAFE! Заклад для будь-якого приводу)</a></p></div>
        <div class="col-md-4"><p class="sub-footer-text text-center">Повернутися &nbsp<a href="#top">НА ГОРУ</a></p>
        </div>
        <div class="col-md-4"><p class="sub-footer-text text-center">Ваш &nbsp<a href="">United Kitchen</a></p></div>
    </div>
</footer>