{% load static %}

<section id ="pricing" class="description_content">
     <div class="pricing background_content">
        <h1><span>Наше</span> МЕНЮ</h1>
     </div>
    <div class="text-content container">
        <div class="container">
            <div class="row">
                <div class="row products">
                <div id="w">
                    <ul id="filter-list" class="clearfix">
                        <li class="filter" data-filter="all">Всі страви</li>
                        <li class="filter" data-filter="breakfast">Сніданки</li>
                        <li class="filter" data-filter="special">Салати</li>
                        <li class="filter" data-filter="soups">Перші страви</li>
                        <li class="filter" data-filter="dinner">Бургери</li>
                        <li class="filter" data-filter="starters">Закуски</li>
                        <li class="filter" data-filter="tacos">Тако та буріто</li>
                        <li class="filter" data-filter="main_dishes">Основні страви</li>
                        <li class="filter" data-filter="pasta">Пасти</li>
                        <li class="filter" data-filter="desserts">Десерти</li>
                        <li class="filter" data-filter="bar">БАР</li>
                    </ul>
                    <ul id="portfolio">
                        <li class="item breakfast"><img src="{% static 'images/Сирники.jpg' %}" alt="Food" ><h2 class="white">Сирники-115 грн</h2></li>
                        <li class="item breakfast"><img src="{% static 'images/Омлет.jpg' %}" alt="Food" ><h2 class="white">Омлет з сиром -125 грн</h2>
                        <li class="item breakfast"><img src="{% static 'images/СніданокЮК.jpg' %}" alt="Food" ><h2 class="white">185</h2></li>
                        <li class="item starters"><img src="{% static 'images/sprot.jpg' %}" alt="Food" >
                            <h8 class="white">Шпроти чорноморські - 125</h8>
                        </li>
                        <li class="item special"><img src="{% static 'images/seaser_salmon.jpg' %}" alt="Food" >
                            <h2 class="white">215</h2>
                        </li>
                        </li>
                        <li class="item special"><img src="{% static 'images/cesar_krevetka.jpg' %}" alt="Food" >
                            <h2 class="white">165</h2>
                        </li>
                        <li class="item special"><img src="{% static 'images/cesar_kuritca.jpg' %}" alt="Food" >
                            <h2 class="white">165</h2>
                        </li>
                        <li class="item dinner"><img src="{% static 'images/food_icon05.jpg' %}" alt="Food" >
                            <h2 class="white">280</h2>
                        </li>
                        <li class="item special"><img src="{% static 'images/salat_telyatina.jpg' %}" alt="Food" >
                            <h2 class="white">145</h2>
                        </li>
                        <li class="item desert"><img src="{% static 'images/food_icon07.jpg' %}" alt="Food" >
                            <h2 class="white">210</h2>
                        </li>
                        </li>
                    </ul><!-- @end #portfolio -->
                </div><!-- @end #w -->
            </div>
        </div>
    </div>
</section>
